<carousel interval="4000">
  <slide>
    <img
      src="https://instagram.fbeg2-1.fna.fbcdn.net/vp/62d1d0283965ad8e463b98a51150b6ad/5E426840/t51.2885-15/sh0.08/e35/s750x750/42583799_1056586821188241_5605577113955855769_n.jpg?_nc_ht=instagram.fbeg2-1.fna.fbcdn.net&_nc_cat=109"
      alt="first slide"
      class="img-responsive"
      center-block
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="https://instagram.fbeg2-1.fna.fbcdn.net/vp/e06574853a0a46911606fb144c882beb/5E5C005B/t51.2885-15/sh0.08/e35/s750x750/41698862_280046156171808_6705249709672164512_n.jpg?_nc_ht=instagram.fbeg2-1.fna.fbcdn.net&_nc_cat=100"
      alt="second slide"
      class="img-responsive"
      center-block
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="https://instagram.fbeg2-1.fna.fbcdn.net/vp/d4f5249cbc3db28ce102fe970a1dcafc/5E61307C/t51.2885-15/sh0.08/e35/s750x750/43778596_237251736943378_5708389245171368947_n.jpg?_nc_ht=instagram.fbeg2-1.fna.fbcdn.net&_nc_cat=110"
      alt="third slide"
      class="img-responsive"
      center-block
      style="display: block; width: 100%;"
    />
  </slide>
</carousel>
