<!-- <ion-grid class="ion-padding-top ion-md-container"> -->
<!-- <ion-row class="b-bottom">
    <ion-col class="ion-padding" size="12" size-md="6">
      <ion-thumbnail
        style="width: 90%;
      height: 90%;"
      >
        <ion-img
          src="https://instagram.fbeg2-1.fna.fbcdn.net/vp/62d1d0283965ad8e463b98a51150b6ad/5E426840/t51.2885-15/sh0.08/e35/s750x750/42583799_1056586821188241_5605577113955855769_n.jpg?_nc_ht=instagram.fbeg2-1.fna.fbcdn.net&_nc_cat=109"
        ></ion-img>
      </ion-thumbnail>
      <ion-title class="bold " expand="block" size="large"
        >Testimonials</ion-title
      >
    </ion-col>
    <ion-col size="12" size-md="6">
      <ion-card>
        <ion-card-header class="ion-text-left">
          <ion-card-subtitle color="dark" class="bold"
            >Realtime Reporting Powered</ion-card-subtitle
          >
          <ion-card-title class="bold " expand="block" size="large"
            ><h2>Soundblock</h2></ion-card-title
          >
        </ion-card-header>

        <ion-card-content class="ion-padding">
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean. Keep close to Nature's heart... and break clear away, once in
          awhile, and climb a mountain or spend a week in the woods. Wash your
          spirit clean.
        </ion-card-content>
        <br />
        <ion-button
          class="ion-padding-start ion-hide-md-up"
          strong="true"
          color="primary"
          >OK, LET'S GET STARTED</ion-button
        >

        <ion-button
          class="ion-padding-start ion-hide-md-down"
          strong="true"
          expent="full"
          color="primary"
          size="large"
          >OK, LET'S GET STARTED</ion-button
        >
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="b-bottom ion-padding-bottom ion-margin-bottom">
    <ion-col size="12" size-sm="6" size-lg="4" class="ion-left-center">
      <ion-card>
        <ion-card-header class="ion-text-left">
          <ion-card-title class="bold" expand="block" size="large"
            >Tim Jones</ion-card-title
          >
        </ion-card-header>

        <ion-card-content class="ion-padding">
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean. Keep close to Nature's heart... and break clear away, once in
          awhile, and climb a mountain or spend a week in the woods. Wash your
          spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-sm="6" size-lg="4" class="ion-text-left"
      ><ion-card>
        <ion-card-header class="ion-text-left">
          <ion-card-title class="bold" expand="block" size="large"
            >Tim Jones</ion-card-title
          >
        </ion-card-header>

        <ion-card-content class="ion-padding">
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean. Keep close to Nature's heart... and break clear away, once in
          awhile, and climb a mountain or spend a week in the woods. Wash your
          spirit clean.
        </ion-card-content>
      </ion-card></ion-col
    >
    <ion-col size="12" size-sm="6" size-lg="4" class="ion-text-left"
      ><ion-card>
        <ion-card-header class="ion-text-left">
          <ion-card-title class="bold" expand="block" size="large"
            >Tim Jones</ion-card-title
          >
        </ion-card-header>

        <ion-card-content class="ion-padding">
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean. Keep close to Nature's heart... and break clear away, once in
          awhile, and climb a mountain or spend a week in the woods. Wash your
          spirit clean.
        </ion-card-content>
      </ion-card></ion-col
    >
  </ion-row> -->
<!-- <ion-row>
    <ion-col size="12" size-md="6" class="ion-text-center">
      <ion-card>
        <ion-item lines="none" href="#" class="activated">
          <ion-fab-button class="badge ion-margin-end">
            <span>1</span>
          </ion-fab-button>
          <ion-label> Card Link Item 1 .activated</ion-label>
        </ion-item>

        <ion-item lines="none" href="#">
          <ion-fab-button class="badge ion-margin-end">
            <span>2</span>
          </ion-fab-button>
          <ion-label> Card Link Item 2</ion-label>
        </ion-item>

        <ion-item lines="none" href="#" class="activated">
          <ion-fab-button class="badge ion-margin-end">
            <span>3</span>
          </ion-fab-button>
          <ion-label> Card Link Item 1 .activated</ion-label>
        </ion-item>

        <ion-item lines="none" href="#">
          <ion-fab-button class="badge ion-margin-end">
            <span>4</span>
          </ion-fab-button>
          <ion-label> Card Link Item 2</ion-label>
        </ion-item>
      </ion-card>

      <ion-button
        class="ion-margin-top ion-hide-md-up"
        strong="true"
        color="primary"
        >OK, LET'S GET STARTED</ion-button
      >
    </ion-col>
    <ion-col class="ion-hide-md-down " size="12" size-md="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Hard to Get started</ion-card-subtitle>
          <ion-card-title>It's Free</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
        <ion-button
          class="ion-padding-start"
          strong="true"
          color="primary"
          size="large"
          >OK, LET'S GET STARTED</ion-button
        >
      </ion-card>
    </ion-col>
  </ion-row> -->
<!-- </ion-grid> -->

<div
  class="ion-md-container ion-margin-horizontal ion-padding-horizontal"
>
  <iframe
    frameborder="0"
    scrolling="no"
    title="Customer reviews powered by Trustpilot"
    src="https://widget.trustpilot.com/trustboxes/53aa8912dec7e10d38f59f36/index.html?templateId=53aa8912dec7e10d38f59f36&amp;businessunitId=5c7875e0e6713b000151ebd6#locale=en-US&amp;styleHeight=130px&amp;styleWidth=100%25&amp;theme=light&amp;stars=4%2C5&amp;schemaType=Organization&amp;reactid=123"
    style="position:relative;height:130px;width:100%;border-style:none;display:block;overflow:hidden;"
    data-reactid="122"
  ></iframe>
</div>
